<!-- This file belongs to file_upload.py, a mini project for a html-based file upload service. -->
<!doctype html>

<head>
    <title>Flask demo by Daniel T</title>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery-3.5.1.js') }}"></script>
    <link href="{{ url_for('static',filename='scripts/bootstrap-4.6.0-dist/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='scripts/bootstrap-4.6.0-dist/js/bootstrap.bundle.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        #anchor-icon {
            display: inline;
            /* background:url("anchor.jpg"); */
            /* background-repeat: no-repeat; */
        }

        a.heading-link {
            opacity: 0;
            margin-left: 10px;
            text-decoration: none;
        }

        h1:hover a.heading-link {
            opacity: 1;
        }

        h2:hover a.heading-link {
            opacity: 1;
        }

        h3:hover a.heading-link {
            opacity: 1;
        }

        h4:hover a.heading-link {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Flask and bootstrap demo</h1>
        <p>Hi, this is simple html file hosted by flask to demonstrate a basic concept of Flask.
            You can find several bootstrap tempaltes here along with some basic flask webapps.</p>
        <h2>Webapps</h2>
        <ul>
            <li><a href="/"><strong>This index file</strong></a> is the welcome page,</li>
            <li><a href="//:5432"><strong>Measure latency to this server.</li>
            <li><a href="listfile"><strong>File upload:</strong></a> you can upload and list files.
                At the end of this page, you can also upload files and list them.</li>
            <li><a href="plot"><strong>Plot a function:</strong></a> plot some type of functions</li>
            <li><a href="calc"><strong>Basic spreadsheet:</strong></a> calculate something and show on a figure.
                Maybe a voila webapp is available, <a href="http://metal.elte.hu:8866">check it!</a>
                There you can also deduce where the jupyter notebook can be found, which is rendered as a voila webapp.
            </li>
            <li><a href="random"><strong>Random number generator: </strong></a>Generate and array of
                pseudo random numbers and print out the state of the underlying Mersenne Twister engine.</li>
            <li><a href="evaluate"><strong>Evaluate expressions: </strong></a>Evaluate expressions typed in as text
                applied on an array of numbers. Compare the calculation time of the different methods.</li>
        </ul>
        <p>To view this page properly, you need to host it with flask, because this file contains only template values
            for the css and JS files which cannot be picked up if this file is opened as a regular file. By hosting this
            as a flask template, flask will replace the Jinja code with the proper values.</p>
        <ol>
            <li>Add <code>file_upload.py</code> to the <code>FLASK_APP</code> environment.<ul>
                    <li>If you are on powershell, enter <code>$env:FLASK_APP = "file_upload.py"</code> to the terminal.
                    </li>
                    <li>cd into the folder where you have the file <code>file_upload.py</code>.</li>
                    <li>Run flask from a conda environment where you have it installed. To do this, issue
                        <code>flask run</code>.
                    </li>
                </ul>
            </li>
        </ol>
        <h2>Dependencies</h2>
        This page also uses bootstrap to facilitate styling and to use some basic JS modules.
        Bootstrap and jQuery both can be downloaded and served from the host computer, so there
        is no need to include them from a remote server. So you can download both of them:
        <ul>
            <li><a href="https://getbootstrap.com/docs/4.6/">Bootstrap</a></li>
            <li><a href="https://jquery.com/download/">jQuery</a></li>
        </ul>
        <h2>Bootstrap</h2>
        Bootstrap has css files for styling and js for interactive contents. I show you 2 examples for bootstrap.
        The rest can be found at <a href="https://getbootstrap.com/docs/4.6/">Bootstrap's docs</a>.
        <h3>Slider with feedback</h3>
        <p>Although <a href="https://mdbootstrap.com">mdb</a> can provide a fancy way to display the state of a slider,
            custom needs still need to be implemented manually or good luck finding a customized library.</p>
        <p>Here I show a simple bootstrap example of a slider, where the state and sum are displayed
            with custom written javascript.
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlRange1">Option A:&nbsp;<span id="value1"></span></label>
                            <input type="range" class="form-control-range" id="formControlRange1" min="0" max="100"
                                value="50">
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="formControlRange2">Option B:&nbsp;<span id="value2"></span></label>
                            <input type="range" class="form-control-range" id="formControlRange2">
                        </div>
                    </form>
                </div>
                Options total:&nbsp;<span id="opcio_sum"></span>
            </div>
            <h3>Tables</h3>
            You can easily improve the visual appearance of a table, and get a result similar to latex's result.
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            Without Bootstrap, it would look different.
            <h3>Dismissing a box</h3>
            This requires JS, I believe.
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            Click on the x to remove this box.
        </p>
        <h2>jQuery</h2>
        <p>This is a simple JS file you can download from the website of <a
                href="https://jquery.com/download/">jQuery</a>. jQuery is not only necessary for some bootstrap
            functions, it is also needed to create the automatic header ID names and links.</p>
        <p>
            To explore this latter feature, move your mouse over a header section and a # symbol will appear with a
            link. The link points to the very same section header, and the header section will have an ID so that when
            you enter the link of the # into the url, the browser will jump to the desired place. You can also bookmark
            a page with a scrolled state due to this feature.
        </p>
        <h3>Tooltip</h3>
        <p>Tooltip is appearing textbox on top of an object. Its purpose is to show extra info per request. Below is
            shown a simple sentence and moving your mouse over the objects will reveal their color.</p>
        <p>My <span data-toggle="tooltip" data-placement="top" title="brown">wallet</span> was in my <span
                data-toggle="tooltip" data-placement="bottom" title="green">jacket</span>.</p>
        <h2>Upload files</h2>
        This is the basic functionality of the file upload service. The desing here is without bootstrap
        and without javascript. A more fancy example can be seen in the webapp examples.
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
                <label for="ddd">Browse for a single file on your computer</label>
                <input type="file" name="file" id="ddd" class="form-control-file">
                <input type="submit" value="Submit" class="form-control-file">
            </div>
        </form>
        <h2>List files</h2>
        List of files in the <code>uploads</code> directory:
        <ul>
            {% for file in files %}
            <li>{{ file }}</li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/end_of_file_script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/slider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/auto_anchor.js') }}"></script>

</body>

</html>