<!-- This file belongs to file_upload.py, a mini project for a html-based file upload service. -->
<!doctype html>

<head>
    <title>Flask demo by Daniel T</title>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery-3.5.1.js') }}"></script>
    <link href="{{ url_for('static',filename='scripts/bootstrap-4.6.0-dist/css/bootstrap.css') }}" rel="stylesheet">
    <script type="text/javascript"
        src="{{ url_for('static',filename='scripts/bootstrap-4.6.0-dist/js/bootstrap.bundle.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        #anchor-icon {
            display: inline;
            /* background:url("anchor.jpg"); */
            /* background-repeat: no-repeat; */
        }

        a.heading-link {
            opacity: 0;
            margin-left: 10px;
            text-decoration: none;
        }

        h1:hover a.heading-link {
            opacity: 1;
        }

        h2:hover a.heading-link {
            opacity: 1;
        }

        h3:hover a.heading-link {
            opacity: 1;
        }

        h4:hover a.heading-link {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Flask file list and upload</h1>
        {% if deleted is defined %}
        <div class="alert alert-success" role="alert">
            You have successfully deleted the file {{ deleted }}
        </div>
        {% endif %}
        {% if success is defined %}
        {% if success %}
        <div class="alert alert-success" role="alert">
            You have successfully uploaded the file {{ new_filename }}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            File upload was unsuccessful, because (python says): <code>{{ reason }}</code>
        </div>
        {% endif %}
        {% endif %}
        
        <h2>Upload limits</h2>
        For performance reasons, limits on the uploads are introduced. The limits can be increased per request. The
        limits and the occupied resources are shown here.
        <ul>
            <li>There is a file size limit of {{ (limit['file_size']/1024/1024)|int }} MB. This will be checked during
                the upload.</li>

            <li>A folder size limit:
                <div class="progress position-relative" style="height: 2em;">
                    <div class="progress-bar" role="progressbar"
                        style="width: {{ ((100*folder_size)/limit['folder_size'])|int }}%;">
                    </div>
                    <span class="justify-content-center d-flex position-absolute w-100 align-middle"
                        style="bottom: 1em">
                        {{ (folder_size/1024/1024)|int }} MB out of {{ ((limit['folder_size'])/1024/1024)|int }}
                        MB</span>
                </div>
            </li>
            <li>and a file count limit:
                <div class="progress position-relative" style="height: 2em;">
                    <div class="progress-bar" role="progressbar"
                        style="width: {{ ((100*(files|length))/limit['file_count'])|int }}%;">
                    </div> <span class="justify-content-center d-flex position-absolute w-100 align-middle"
                        style="bottom: 1em">{{ files|length }}
                        out of {{ limit['file_count'] }}</span>
                </div>
            </li>
        </ul>

        <h2>Upload files</h2>
        {% if prevent_upload is defined and prevent_upload %}
        <div class="alert alert-danger" role="alert">
            Can't upload files, because the folder is full.
        </div>
        {% else %}
        <form method="POST" action="/submit" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="input-group-append">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </form>
        {% endif %}

        <h2>List of files</h2>
        <p>List of files in the <code>uploads</code> directory:</p>
        <div class="text-right">
            {% for file in files %}
            <div class="btn-group my-1" role="group" data-toggle="tooltip" data-placement="top"
                title="uploaded: {{ file[2] }}">
                <a href="download/{{ file[0] }}" class="btn btn-outline-primary" type="button">
                    {{ file[0] }}
                    {% if file[0] == new_filename and success %}
                    <span class="badge badge-success">New</span>
                    {% endif %}{% if file[0] == new_filename and not success %}
                    <span class="badge badge-warning">already exists</span>
                    {% endif %}
                    <span class="text-secondary" style="width: 8em; display: inline-block; text-align: right;">
                        {{ file[1] }} KB </span></a>
                <a href="delfile?del={{ file[0] }}" type="button" class="btn btn-danger">del</a>
            </div><br>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/end_of_file_script.js') }}"></script>
</body>

</html>